.Menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TAU-LOGO {
  padding: 30px 64px 30px 64px;
}

.Avatar {
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #2f3033;
  margin-bottom: 68px;
}
