.Services {
  width: 100%;
  height: calc(100vh - 488px);
  overflow-y: auto;
  position: relative;
  padding: 16px 32px 0px 32px;
  flex-direction: column;
  justify-content: flex-start;
}

.ServicesTotalLabel {
  width: 62px;
  height: 24px;
  /* H5 16px / medium */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  display: flex;
  align-items: center;
  /* text main */
  color: #2f3033;
  margin-bottom: 25px;
  margin-right: 16px;
}

.ServicesTotalCount {
  width: 20px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  /* or 12px */
  display: flex;
  margin-left: 8px;
  align-items: center;
  text-align: center;
  /* Text Blue */
  color: #2a79ee;
  border-radius: 6px;
  margin-bottom: 25px;
}

.backgroundCount {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18px;
  left: 110px;
  border-radius: 4px;
  background-color: #2e83ff;
  opacity: 0.1;
}
