.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #e5e5e5;
}

.aside {
  min-height: 100vh;
  width: 260px;
  background-color: #fff;
}

.main {
  margin-left: 2px;
  min-height: 100vh;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  margin-left: 60px;
  height: 80px;
}

.section {
  position: relative;
  height: 100%;
}
